.todos-header {
    height: 10rem;
    background-color: #195919;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.todos-header h1 {
    font-family: "DM Serif Display", serif;
    font-size: 3rem;
}