.todo-list {
    margin: 2.5rem;
    height: 10rem;
}

button{
    padding: .6rem 1.2rem;
    border: none;
    box-shadow:  0rem 0rem .5rem 0rem black;
    cursor: pointer;
}

button:active{
    transform: scale(0.96);

}