.todo-li{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: grey;
    margin: 1rem 0;
    padding: 2rem;
    padding-bottom: 4rem;
    font-size: 1.4rem;
}

.todo-details{
    position: absolute;
    bottom: .4rem;
    text-transform: uppercase;
    font-size: 1.1rem;
    color: darkgrey;
}

.todo-details > *{
    margin-right: 2rem;
}

.todo-actions{
    display: inline;
}

.todo-actions > *{
    margin: 0 .4rem;
}

button{
    display: inline;
}

.todo-text{
    flex: 1
}