:root {
    --text-color: white;
    --back-blue-01: #195919;

    --font-size-1-4: 1.4rem;
    --font-size-2-0: 2rem;
}

ul {
    list-style: none;
}

li,
a {
    display: inline-block;
}

a {
    text-decoration: none;
}

header {
    background-color: var(--back-blue-01);
    width: 100%;
    font-size: var(--font-size-1-4);
    text-transform: uppercase;
}

.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 2.5rem;
    height: 6rem;
}

.main-nav li a{
    padding: 1rem;
    color: var(--text-color);
}

.active{
    position: relative;
}

.active::before{
    position: absolute;
    content: "";
    width: 80%;
    height: .2rem;
    background-color: var(--text-color);
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);

}